.banner {
    height: 120px;
    width: 100%;
}

.banner img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.descriptionBlock {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.profilePic {
    width: 140px;
    height: 140px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 24px;
    border: 3px solid lightgray
}

.profilePic img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.profileInfo {
    text-align: right;
}

.statusBar {
    background-color: rgb(148, 227, 247);
    padding: 8px 16px;
    border-radius: 4px;
    min-height: 32px;
    min-width: 240px;
    box-sizing: border-box;
}

.statusBar span {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    display: block;
}

.statusBar label {
    width: 100%;
}

.statusBar input {
    width: 100%;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-align: right;
}