.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.dialogsItems {
    padding: 16px;

}

.dialogsItems .active {
    font-weight: 700;
}

.avatar {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.dialog + .dialog {
    margin-top: 16px;
}

.messagesList {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    background-color: lightskyblue;
    border-radius: 12px 12px 2px 12px;
    padding: 8px 24px;
    max-width: 75%;
    flex-grow: 0;
}

.message + .message {
    margin-top: 16px;
}

.field {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid lightcyan;
    border-radius: 4px;
    min-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #838383;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn {
    display: inline-block;
    background-color: lightskyblue;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    transition: all .2s;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.btn:hover {
    box-shadow: lightskyblue 0 0 2px 2px inset;
    background-color: rgb(158, 213, 248);
    transition: all .2s;
}

.btn:active {
    box-shadow: lightskyblue 0 0 6px 6px inset;
    background-color: rgb(102, 191, 247);
    transition: all .2s;

}
